/* 7- css for textarea with ingredients to analyse with MILA */
.textareaIngredients {
width:90%;
margin: auto;
text-align: center;
border: 2px solid #00b6e2 ;
text-color: black;
}
/* 11- css for MILA diagnostic */
.row_diag {
display:flex ;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
height:250px;
}
.column_diag {
flex:20% ;
}
@media screen and (max-width: 600px) {
.column_diag {
flex: 40%;
}
}
.button_diag {
border:1px solid grey;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
}
.selectDiag_recoPath {
border: 1px solid green;
background-color: white;
color: black;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
height:200px;
}
.option_selectedRecoPath {
border: 5px solid green;
background-color: green;
color: white;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
height:200px;
}
.selectDiag_gender {
border: 1px solid indigo;
background-color: white;
color: black;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
display: inline-block;
}
.option_selectedGender {
border: 5px solid indigo;
background-color:indigo;
color: white !important;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
display: inline-block;
}
.selectDiag_skinType {
border: 1px solid blue;
background-color: white;
color: black;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
display: inline-block;
}
.option_selectedSkinType {
border: 5px solid blue;
background-color: blue;
color: white !important;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
display: inline-block;
}
.selectDiag_allergicToFactor {
border: 1px solid orange;
background-color: orange;
color: black;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
display: inline-block;
height: 120px ;
}
.option_selectedAllergicToFactor {
border: 5px solid orange;
background-color: orange;
color: white !important;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
display: inline-block;
}
.selectDiag_frequency {
border: 1px solid green;
background-color: white;
color: black;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
display: inline-block;
}
.option_selectedFrequency {
border: 5px solid green;
background-color: green;
color: white !important;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
display: inline-block;
}
.selectDiag_area {
border: 1px solid purple;
background-color: white;
color: black;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
display: inline-block;
}
.option_selectedArea {
border: 5px solid purple;
background-color: purple;
color: white !important;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
display: inline-block;
}
.selectDiag_condition {
border: 1px solid orange;
background-color: white;
color: black;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
display: inline-block;
}
.option_selectedCondition {
border: 5px solid orange;
background-color: orange;
color: white !important;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
display: inline-block;
}
.selectBtn_lookingFor {
border: 1px solid #1895E2;
background-color: yellow;
color: black;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
display: inline-block;
height:120px;
}
.option_selectedLookingFor {
border: 5px solid #1895E2;
background-color: #1895E2 !important;
color: white !important;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
display: inline-block;
height:100px;
}
.option_selectedLookingForAcc {
border: 5px solid #1895E2;
background-color: grey !important;
color: white !important;
cursor:pointer;
border-radius:30px;
width:80%;
margin-bottom:20px;
margin-top:20px;
font-size:18px;
display: inline-block;
height:100px;
}
.btn_condition_selected {
border:5px solid #1895E2;
}
.btn_allergicToFactor_selected {
border:5px solid #1895E2;
}
i.icon_diag {
font-size:34px;
}
/* css for MILA top option images */
.topOption {
border: none;
width:100%;
color:black;
font-size:18px;
background-color:white;
border:none;
cursor:pointer;
}
.topOption_selected {
border: 5px solid #1895E2;
width:80%;
color:black;
font-size:16px;
background-color:white;
border:none;
cursor:pointer;
}
/* css for selection buttons */
.btn_selection1 {
border:2px solid #1895E2;
background-color: white;
color: black;
border-radius:20px;
cursor:pointer;
padding-top:20px;
padding-bottom:20px;
font-size:18px;
width: 80%;
display: inline-block;
}
.btn_selection2 {
border:2px solid #1895E2;
background-color: white;
color: black;
border-radius:20px;
cursor:pointer;
padding-top:20px;
padding-bottom:20px;
font-size:18px;
width: 80%;
display: inline-block;
}
.option_selected1 {
border: 5px solid #1895E2;
background-color: #1895E2;
color: white !important;
cursor:pointer;
border-radius:20px;
padding-top:20px;
padding-bottom:20px;
font-size:18px;
width: 80%;
display: inline-block;
}
/*.btn_selection1_selected {*/
/*border:5px solid #1895E2;*/
/*}*/
/* css for MILA bad ingredients list
/* Remove margins and padding from the list */
ul#bad_ingredient_list, ul#bad_ingredient_list2, ul#bad_ingredient_list3, ul#bad_ingredient_list4 {
margin: 0;
padding: 0;
}
/* Style the list items */
ul#bad_ingredient_list li, ul#bad_ingredient_list2 li, ul#bad_ingredient_list3 li, ul#bad_ingredient_list4 li {
cursor: pointer;
position: relative;
padding: 12px 8px 12px 40px;
list-style-type: none;
background:none; /* #eee;*/
font-size: 18px;
transition: 0.2s;
/* make the list items unselectable */
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
/* Set all odd list items to a different color (zebra-stripes) */
ul#bad_ingredient_list li:nth-child(odd), ul#bad_ingredient_list2 li:nth-child(odd), ul#bad_ingredient_list3 li:nth-child(odd), ul#bad_ingredient_list4 li:nth-child(odd) {
background: #f9f9f9;
}
/* Darker background-color on hover */
ul#bad_ingredient_list li:hover,ul#bad_ingredient_list2 li:hover, ul#bad_ingredient_list3 li:hover, ul#bad_ingredient_list4 li:hover {
background: #ddd;
}
/* When clicked on, add a background color and strike out text */
ul#bad_ingredient_list li.checked, ul#bad_ingredient_list2 li.checked, ul#bad_ingredient_list3 li.checked, ul#bad_ingredient_list4 li.checked {
background: #888;
color: #fff;
text-decoration: line-through;
}
/* Add a "checked" mark when clicked on */
ul#bad_ingredient_list li.checked::before, ul#bad_ingredient_list2 li.checked::before, ul#bad_ingredient_list3 li.checked::before, ul#bad_ingredient_list4 li.checked::before {
content: "";
position: absolute;
border-color: red;
border-style: solid;
border-width: 0 2px 2px 0;
top: 10px;
left: 16px;
transform: rotate(45deg);
height: 15px;
width: 7px;
}
/* Style the header */
.header_bad_ingredient_list {
background-color: #f44336;
padding: 30px 40px;
color: white;
text-align: center;
}
/* Clear floats after the header */
.header_bad_ingredient_list:after {
content: "";
display: table;
clear: both;
}
/* Slideshow container */
.slideshow-container {
max-width: 1600px;
position: relative;
margin-top: 20px;
margin-left:auto;
margin-right:auto;
}
/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
border: 1px solid grey;
border-radius:20px;
}
/* Position the "next button" to the right */
.next {
right: 0;
background-color: #1895E2 !important;
color: white !important ;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}
/* css for the text above diagnostic input */
.topOfDiagInput {
margin-top: 150px;
}
/* Fading animation */
.fading {
-webkit-animation-name: fading;
-webkit-animation-duration: 1.5s;
animation-name: fading;
animation-duration: 1.5s;
}
@-webkit-keyframes fading {
from {opacity: .4}
to {opacity: 1}
}
@keyframes fading {
from {opacity: .4}
to {opacity: 1}
}
.fadingout {
-webkit-animation-name: fadingout;
-webkit-animation-duration: 1.5s;
animation-name: fadingout;
animation-duration: 1.5s;
}
@-webkit-keyframes fadingout {
from {opacity: .4}
to {opacity: 1}
}
@keyframes fadingout {
from {opacity: .4}
to {opacity: 1}
}
/* css for iframeMILA */
.iframeMILAClass {
width:100%;
max-width:1200px;
height:3500px;
border:solid 5px #1895E2;
border-radius: 255px 15px 225px 15px/25px 225px 15px 255px;
background-color:rgba(254,234,220,1);
}
/* css for iframeExclusionList */
.iframeExclusionList {
border:solid 5px red;
border-radius: 255px 15px 225px 15px/25px 225px 15px 255px;
background-color:rgba(254,234,220,1);
}
/* css to showHide elements */
.showElement {
display:block !important;
}
