/*USE THIS FILE FOR THE DEFAULT SKINTY PAGE*/

df-messenger {
   --df-messenger-bot-message: #9aa7ad;
   --df-messenger-button-titlebar-color: #4b646e;
   --df-messenger-chat-background-color: #e8ebec;
   --df-messenger-font-color: white;
   --df-messenger-send-icon: #878fac;
   --df-messenger-user-message: rgb(117, 147, 71);
   --df-messenger-minimized-chat-close-icon-color: #4b646e;
  }

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  min-width: 50px;
}
